.main{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 2% 0%;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    @media (min-width: 768px) {
        text-align: center;
    }   
}

.name{
    display: flex;
    margin: 0% 21%;

}

.time{
    display: flex;
    margin: 0% 1%;
    padding-right: 2%;

}

.btn {
    padding: 0.5% 3%;
    margin: 0% 22%;
    border: 1px solid white;
    border-radius: 100px;
    background-color: rgb(255, 84, 84);
  }
  .btn:hover,
  .btn:active {
    background-color: rgb(0, 104, 139);
    border-color: #000000;
  }



@media (min-width: 768px) {
    .main{
        text-align: center;
    }
}   